<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FQInteraction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB39057B1D9A1807004ADBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3905941D9A1807004ADBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB39059F1D9A1807004ADBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
